.ui.stackable.three.column.centered.container > .column.headerStyle {
    padding-left: 4em;
}

.ui.stackable.three.column.centered.container > .column.headerStyle2 {
    margin-top: 1em;
    padding-left: 4em;
}

/* Media queries */
@media (max-width: 1400px) {
    .ui.stackable.three.column.centered.container > .column.headerStyle {
        padding-left: 0;
    }

    .ui.stackable.three.column.centered.container > .column.headerStyle2 {
        padding-left: 0;
    }
}

@media(max-width: 450px) {
    .ui.stackable.three.column.centered.container.headering {
        margin: 0;
    }
}