/*CSS mostly for the Parallax and standard body/html css*/

html, body {
  height: 100%;
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.8em;
  color:rgba(0, 0, 0, 0.95);
  background-color: rgba(255, 255, 255, 0.95);
  font-family: 'Dancing_Script';
}

h1, h2 {
  font-family: 'Dancing_Script';
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 1em;
}

h3 {
  font-family: 'Montserrat';
  font-weight: normal;
}

.header_bg0, .border_bg, .border_bg2 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* 
    fixed = parallax
    scroll = normal
  */

  background-attachment: fixed ;
}

.header_bg0 {
  background-image: url('./assets/images/bg_2.jpg');
  min-height: 100vh;
  opacity: 0.7;
}

.border_bg {
  min-height: 200px;
  opacity: 0.4;
}

.section {
  text-align: center;
  padding: 1em 6em 4em;
  margin: 2em 4em;
}

.section p {
  font-size: 1.7em;
}

.header_text {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 6.5em;
  letter-spacing: 2px;
  opacity: 1
}

@media(max-width: 568px){
  .header_bg0, .border_bg, .border_bg2 {
    background-attachment: scroll;
  }

  .header_text {
    font-size: 3.5em;
  }
}

@media(max-width: 700px) {
  .section {
    margin: 0.7em 1em;
    padding: 1em 1em 3em;
  } 

  h1, h2 {
    font-size: 3rem;
  }
  
  .header_text {
    font-size: 4em;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Dancing_Script', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat/Montserrat-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Dancing_Script';
  src: local('Dancing_Script'), url(./fonts/Dancing_Script/static/DancingScript-Regular.ttf) format('truetype');
}
